* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.btn {
  background: rgb(223, 4, 22);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
#pdf-render{
  margin-top:30px;
width:600px;
height:800px;
}
#pdf-render .turn-page{
background-color:#ccc;
background-size:100% 100%;
} 




